.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.heading {
  display: none;
  color: #2c353e;
  font-family: 'Helvetica Neue Cyr';
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1.2px;
  
}

.logo {
  width: 100%;
  height: auto;
  display: block;
  width: 32px;
  height: 24px;
  margin-right: 12px;
}



@media(min-width: 768px) {
  .heading {
    display: inline-block;
  }
}
