.container {
  max-width: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue Cyr - Roman";
  font-size: 15px;
  font-weight: 400;
  color: #669668;
  letter-spacing: 0.45px;
}

.button {
  border: none;
  position: relative;
  margin: 0;
  padding: 0;
  margin-left: 19px;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
}
.buttonText {
  font-family: "Helvetica Neue Cyr - Roman";
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  color: #669668;
  letter-spacing: 0.45px;
  display: none;
}
.button::before {
  display: inline-block;
  content: "";
  position: absolute;
  background: url(../../assets/images/exit.png);
  top: -7px;
  left: -14px;
  width: 14px;
  height: 14px;
}

@media(min-width: 768px) {
  .container {
    max-width: 290px;
  }

  .button::before {
    display: inline-block;
    content: "";
    position: absolute;
    background: url(../../assets/images/exit.png);
    top: 2px;
    left: -20px;
    width: 14px;
    height: 14px;
  }

  .buttonText {
    display: inline-block;
  }
  .text {
    color: #6b7d83;
    padding-right: 19px;
    border-right: 1px solid #6b7d83;
    margin-right: 19px;
  }
}
