.container {
  width: 100%;
  box-shadow: 2px 3px 3px rgba(1, 1, 0, 0.12);
  background-color: #ffffff;
}
.content {
  width: 93.3%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}