.container {
  max-width: 100%;
  margin: auto;
  background-color: #3f5544;
}

.content {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

@media(min-width: 768px) {
  .container {
    box-shadow: 2px 3px 3px rgba(1, 1, 0, 0.12);
    background-color: #ffffff;
    margin-bottom: 22px;
  }

  .content {
    padding: 26px 40px;

  }
}

@media(min-width: 1024px) {
  .container {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  .content {
    width: 1024px;
    padding: 0;
  }
}

@media(min-width: 1300px) {
  .content {
    width: 1280px;
  }
}
