.tableWrap {
  min-width: 320px;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 4%;
}

.table {
  border-bottom: 2px solid rgb(185, 201, 212);
}

.table,
.total {
  /* width: 320px; */
  margin: 0 auto;
}

.rowHeader,
.row,
.totalRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.3rem;
}

.rowHeader {
  background-color: rgb(243, 246, 246);
  height: 3.125rem;
  font-size: 0.93rem;
  color: rgb(40, 40, 40);
  font-weight: bold;
  line-height: 2;
}

.row {
  font-size: 0.81rem;
  color: rgb(40, 40, 40);
  line-height: 1.385;
  height: 2.56rem;
  border-bottom: 2px solid rgb(243, 246, 246);
}

.categoryWrap {
  display: flex;
}

.square {
  margin-right: 13px;
  margin: 0;
  width: 15px;
  height: 15px;
}

.cellCategory {
  margin-left: 13px;
}

.total {
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

.totalRow {
  font-size: 0.93rem;
  color: rgb(40, 40, 40);
  line-height: 2;
}

.totalCosts,
.totalIncome,
.totalCostsAmaunt,
.totalIncomeAmaunt {
  font-weight: bold;
}

.totalCostsAmaunt {
  color: rgb(255, 108, 0);
}

.totalIncomeAmaunt {
  color: rgb(111, 167, 111);
}

@media (min-width: 768px) {
  .table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
  }

  .table,
  .total {
    width: auto;
  }

  .totalRow {
    display: flex;
    justify-content: flex-end;
  }

  .totalCosts,
  .totalIncome,
  .totalCostsAmaunt,
  .totalIncomeAmaunt {
    width: 110px;
    font-weight: bold;
  }

  .totalCostsAmaunt,
  .totalIncomeAmaunt {
    text-align: right;
  }
}

@media (min-width: 1024px) {
  .row {
    font-size: 0.81rem;
    color: rgb(40, 40, 40);
    line-height: 1.385;
    height: 1.5rem;
    border-bottom: 1px solid rgb(243, 246, 246);
  }

  .total {
    padding: 0.5rem 0 0 0;
  }
}

@media (min-width: 1280px) {
  .table {
    height: auto;
  }
}
