.container {
  max-width: 95%;
  margin: auto;
  box-shadow: 14px 5px 9px rgba(1, 1, 0, 0.08);
  background-color: #516d57;
  border-radius: 4px;
}

.content {
  max-width: 306px;
  margin: auto;
  text-align: center;
  padding: 15px 0 13px;
}

.text {
  color: #ffffff;
  font-family: "Helvetica Neue Cyr";
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.45px;
}

@media(min-width: 768px) {
  .container {
    display: none;
  }
}